:root {
    
    --title-font-size: 1.2rem;
    --title-font-fam: "Beleren Small Caps", "Lucida Console", "Calibri", "Arial";
    --darkest: #10121a;
    --darkest-trans: #10121ae0;
    --darker: #171a26;
    --darker-trans: #171a26d9;
    --base: #162d3d;
    --base-trans: #162d3da8;
    --light: #465493;

    --green: #3a6b54;
    --green-trans: #3a6b54a8;
    --blue: #1e3a5f;
    --blue-trans: #1e3a5fa8;

    --font-base: #8f99c5;
    --font-base-trans: #8f99c57d;
    --font-highlight: #e55c36;
    --font-highlight-trans: #e55c36a8;
    --font-danger: #e53636;
    --font-danger-trans: #e53636a8;
    --font-warning: #FF9900;
    --font-warning-trans: #FF9900a8;
    --font-accent: #6e7cb7;

    --ara-banner: url("https://i.redd.it/2bvmtpa7z0131.png");
    --ara-logo: url("https://prod.cloud.rockstargames.com/crews/sc/5091/54158502/publish/emblem/emblem_512.png");
    --ara-background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/11146cc3-65d1-4759-92dc-1186b2d1e35f/ddy2yb7-2959c1e9-4de7-40e3-8ae3-e321a1e03e66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzExMTQ2Y2MzLTY1ZDEtNDc1OS05MmRjLTExODZiMmQxZTM1ZlwvZGR5MnliNy0yOTU5YzFlOS00ZGU3LTQwZTMtOGFlMy1lMzIxYTFlMDNlNjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZDirUsbO9rhE9oYLLT6TWhphUaLyD7HBE5jQUXfR3qE");

    --mili-logo: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c3edacf1-cf3e-4b3d-8a91-9bb2f723c02c/dcnmg62-e9752121-dd7e-4c78-a74a-940ab1928b1f.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MzZWRhY2YxLWNmM2UtNGIzZC04YTkxLTliYjJmNzIzYzAyY1wvZGNubWc2Mi1lOTc1MjEyMS1kZDdlLTRjNzgtYTc0YS05NDBhYjE5MjhiMWYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HKxgrFxr05YJqkMxU9-H6DrJOdV_bd4HreGrxSqqpX8");
    --mili-banner: url("https://static.wikia.nocookie.net/hightechlowlife-gurps/images/5/53/Militech_Logo.png")
}
