:root {
    
    --title-font-size: 1.2rem;
    --title-font-fam: "Beleren Small Caps", "Lucida Console", "Calibri", "Arial";
    --darkest: #10121a;
    --darkest-trans: #10121ae0;
    --darker: #171a26;
    --darker-trans: #171a26d9;
    --base: #162d3d;
    --base-trans: #162d3da8;
    --light: #465493;

    --green: #3a6b54;
    --green-trans: #3a6b54a8;
    --blue: #1e3a5f;
    --blue-trans: #1e3a5fa8;
    --red: #A63232;
    --red-trans: #A63232A8;
    --purple: #5A3A6B;
    --purple-trans: #5A3A6Ba8;
    --orange: #FF6B35;
    --orange-trans: #FF6B35a8;
    --yellow: #F2C94C;
    --yellow: #F2C94Ca8;

    --font-base: #8f99c5;
    --font-base-trans: #8f99c57d;
    --font-highlight: #e55c36;
    --font-highlight-trans: #e55c36a8;
    --font-danger: #e53636;
    --font-danger-trans: #e53636a8;
    --font-warning: #FF9900;
    --font-warning-trans: #FF9900a8;
    --font-accent: #6e7cb7;

    --ara-banner: url("https://i.redd.it/2bvmtpa7z0131.png");
    --ara-logo: url("https://prod.cloud.rockstargames.com/crews/sc/5091/54158502/publish/emblem/emblem_512.png");
    --ara-background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/11146cc3-65d1-4759-92dc-1186b2d1e35f/ddy2yb7-2959c1e9-4de7-40e3-8ae3-e321a1e03e66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzExMTQ2Y2MzLTY1ZDEtNDc1OS05MmRjLTExODZiMmQxZTM1ZlwvZGR5MnliNy0yOTU5YzFlOS00ZGU3LTQwZTMtOGFlMy1lMzIxYTFlMDNlNjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZDirUsbO9rhE9oYLLT6TWhphUaLyD7HBE5jQUXfR3qE");
}

    @font-face {
 font-family: Sigtaarah;
 font-style: normal;
 font-weight: 400;
 src: url(https://raw.githack.com/new-slemme/font/main/Old-Tongue-Regular.ttf) ;
}

    @font-face {
 font-family: Agave;
 font-style: normal;
 font-weight: 400;
 src: url(https://raw.githack.com/new-slemme/font/main/AgaveNerdFont-Regular.ttf) ;
}

body {
	color: var(--font-base);
	background-color: var(--darkest);
	margin: 0px 0px 0.45em;
	font-size: 1rem;
	line-height: 1.57143;
	font-weight: 400;
	letter-spacing: 0.01071em;
	font-family: "Agave","Inter", "Helvetica", "Arial", sans-serif;
}

/* Login Page - Login Window */
/*Greeting*/
.css-1gmqqtf {
	font-size: 0px;
}
/*Window*/
.css-zml5e7 {
	background: var(--base-trans);
}
/*Logo*/
.css-11rd68c {
	max-width: 200px;
	content: var(--ara-banner)!important;
    filter: invert(1) hue-rotate(180deg);
    height: 100px !important;
    width: auto !important;
}
/* Background */
.css-re5nto::before {
	background: var(--darker);

    transition: opacity 3s ease-in-out 0s;
	background-size: cover;
}

/* Dashboards */
/* Logo */
.css-1m12llp {
	content: var(--ara-logo);
}
/*Save Dashboard*/
.css-14k9jnp {
	background-color:var(--darker-trans) !important;
    backdrop-filter: blur(2px);
}
/*Save Dim*/
.css-1xcpi7v::before {
	background-color: var(--darkest-trans) !important;
    backdrop-filter: blur(2px);
}
/*Discard Changes*/
.css-k5saln {
	background: var(--darker-trans) padding-box;
	box-shadow:var(--darkest) 0px 8px 24px;
	border-radius: 20px;
	border: 1px solid var(--base);
}
/*Discard Dim*/
.css-1f7jvx6 {
	background-color:var(--darkest-trans);
    backdrop-filter: blur(2px);
}
/*Top*/
.css-1eydfq7 {
	background:var(--darkest-trans);
    backdrop-filter: blur(2px);
}
/*Navbar - Top Half (Sidebar Unlocked)*/
.css-ujugth {
	background: var(--darker) !important;
}
/*Navbar - Top Half (Sidebar Locked)*/
.css-y8lafl {
	background: var(--darker) !important;
}
.css-1wjf038{
	background: var(--darker) !important;
}
/*Navbar - Bottom Half*/
.css-15n4to7 {
	background: var(--darker) !important;
}
/*Sidebar - Unlocked*/
.css-45iwu9 {
	background-color: var(--darkest-trans);
}
/*Sidebar - Locked*/
.css-c8tdw9 {
	background-color: var(--darker);
}
/*Sidebar Dim*/
.css-4ti3wx {
	background-color: var(--darkest-trans)
}
/*Data Panel*/
.css-11ijkh2-panel-container {
	background-color: var(--darker);
}
/*Plugins*/
.css-1uw8mb6-page-inner {
	background: var(--darkest);
}
.css-q3qvow {
	background: var(--darker);
}
