:root {
    --title-font-size: 1.2rem;
    --title-font-fam: "Beleren Small Caps", "Lucida Console", "Calibri", "Arial";
    --darkest: #10121a;
    --darker: #171a26;
    --darker-trans: #171a26d9;
    --base: #162d3d;
    --base-trans: #162d3da8;
    --light: #465493;
    --font-base: #8f99c5;
    --font-base-trans: #8f99c57d;
    --font-highlight: #e55c36;
    --font-highlight-trans: #e55c36a8;
    --font-danger: #e53636;
    --font-danger-trans: #e53636a8;
    --font-warning: #FF9900;
    --font-warning-trans: #FF9900a8;
    --font-accent: #6e7cb7;
    --ara-banner: url("https://i.redd.it/2bvmtpa7z0131.png");
    --ara-logo: url("https://prod.cloud.rockstargames.com/crews/sc/5091/54158502/publish/emblem/emblem_512.png");
    --ara-background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/11146cc3-65d1-4759-92dc-1186b2d1e35f/ddy2yb7-2959c1e9-4de7-40e3-8ae3-e321a1e03e66.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzExMTQ2Y2MzLTY1ZDEtNDc1OS05MmRjLTExODZiMmQxZTM1ZlwvZGR5MnliNy0yOTU5YzFlOS00ZGU3LTQwZTMtOGFlMy1lMzIxYTFlMDNlNjYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ZDirUsbO9rhE9oYLLT6TWhphUaLyD7HBE5jQUXfR3qE");
}

    @font-face {
 font-family: Sigtaarah;
 font-style: normal;
 font-weight: 400;
 src: url(https://raw.githack.com/new-slemme/font/main/Old-Tongue-Regular.ttf) ;
}

/* UI */

body {
	color: var(--font-base);
	background-color: var(--darkest);
	margin: 0px 0px 0.45em;
	font-size: 1rem;
	line-height: 1.57143;
	font-weight: 400;
	letter-spacing: 0.01071em;
	font-family: "Inter", "Helvetica", "Arial", sans-serif;
}

.gf-form-label--dashlink, .gf-form-label--variable {
	background: var(--darker);
    color: var(--font-base);
}

.css-k6ayb6 {
	background-color: var(--darker) !important;
}
.css-1w44sjd {
	background-color: var(--darker) !important;
}
.css-12k6tya {
	backdrop-filter: blur(1px);
	background-color: var(--base-trans);
}

.css-ogdvu6 {
	background-color: var(--base-trans) !important;
	backdrop-filter: blur(1px);
}

.css-1j7sh2x-vertical-group {
	background: var(--darker);
}

/* Settings */

.css-d65hel-page-inner {
	padding: 16px;
	border-radius: 2px;
	border-color: rgba(204, 204, 220, 0.12) rgba(204, 204, 220, 0.12) currentcolor;
	background: var(--darker);

}
.css-14h5mrv-activeTabStyle {
	background: var(--darker);
    color: var(--font-accent)
}
.css-1n2xyvw {
	color: var(--font-base-trans);
}

h1, .h1 {
	font-family: Sigtaarah,"Beleren Small Caps";
}

/* Login Screen */

.css-1px3c36 {
	max-width: 200px;
	content: var(--ara-banner)!important;
    filter: invert(1) hue-rotate(180deg);
    height: 100px !important;
    width: auto !important;
}

.css-vxdt2o {
	font-size: 0px;
}

.css-17taakh::before {
	background: var(--ara-background) center top no-repeat;

    transition: opacity 3s ease-in-out 0s;
	background-size: cover;
}

.css-odanoj {
	transition: opacity 0.5s ease-in-out 0s;
	background: var(--base-trans);
}


/* Navbar Top */

.css-srjygq {
    color: var(--font-base);
	background: var(--darker);
    font-family: Sigtaarah,"Beleren Small Caps";
}

.css-6471wp {
	color: var(--font-base-trans);
}

.css-ddw7vq {
	color: var(--font-base);
}

.css-1gc64oe-input-input {
	background: var(--darker);
	color: var(--font-base-trans);
}

.css-1m01c8l {
	height: 24px;
	content: var(--ara-logo);
}



/* Panel */

.css-ke2n4t-panel-container {
	background-color: var(--darkest);
    border: 1px solid var(--base);
}

.css-1bo04y5-panel-title {
	font-family: Sigtaarah,"Beleren Small Caps";
    color: var(--font-base);
    font-size: 13pt;
}

/* Table */

.css-wd74dn-logs-row-logDetailsDefaultCursor:hover {
	background-color: var(--darker);
}
.css-wd74dn-logs-row-logDetailsDefaultCursor {
	background-color: var(--darker);
}
.css-55pmm7-logs-row:hover {
	background-color: var(--base);
}
.css-gi55n9-logs-row-details__row:hover {
	background-color: var(--base);
}

/* Panel Dropwdown */

.css-1awwc3e {
	background: var(--base);
	box-shadow: rgb(1, 4, 9) 0px 8px 24px;
}

/* Search */
.css-jhe9kq {
	background: var(--darker);
	color: var(--font-base);
	box-shadow: rgb(1, 4, 9) 0px 8px 24px;
}
.css-h0bvvy {
	color: var(--font-accent);
	background: var(--base);
}
.css-1nq3tot {
	color: var(--font-base);
}

/* Dasboard View */
.css-9ahx3u {
	background: var(--darker);
}
.css-evov26 {
	background: var(--base);
}
.css-evov26:hover {
	background: var(--darkest);
}
.css-160qn9s {
	background: var(--base);
}
.css-160qn9s:hover {
	background: var(--darkest);
}
.css-8b29hm-button {
	background: var(--darker-trans);
	color: rgb(204, 204, 220);
}
.css-wcs5v1 {
	background: var(--base);
}
.css-wcs5v1:hover {
	background: var(--darkest);
}
/* Panel-Editor */
.css-12u9n2 {
	background: var(--darker);
}
.css-1jxvt75 {
	background: var(--darker);
}
.css-1noy28o {
	background: var(--darker);
}
.gf-form-label {
	background: var(--darkest);
}
.css-is0ysa:hover {
	background: var(--darkest);
}
.css-84y734:hover {
	background: var(--darkest);
}
.panel-options-group__header:hover {
	background: var(--darkest);
}
.css-jengqr:hover {
	background: var(--darkest);
}
.css-14jk0fp-Header {
	background: var(--base);
}
.css-1jppo5u {
	background: var(--base);
}
.css-13nr3ln {
	background: var(--darker);
}
.css-183uyhf-toolbar-button {
	background: var(--darker);
}
.css-4zg1iz-toolbar-button {
	background: var(--darker);
}
.css-16oyx7z {
	background: var(--darkest);
}
.btn-primary, .btn-success {
	background-color: #1e3e7d;
	background-image: linear-gradient(180deg,var(--font-danger),var(--font-highlight));
	border-color: #3d71d9;
}
.btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary[disabled], .btn-success.active, .btn-success.disabled, .btn-success:active, .btn-success:focus, .btn-success:hover, .btn-success[disabled] {
	background-color: #1e3e7d;
	background-image: linear-gradient(180deg,var(--font-highlight),var(--font-highlight));
	border-color: #3d71d9;
	transition: opacity 0.5s ease-in-out 0s;
}
.css-1gx4o12 input:checked + label {
	background: var(--font-highlight);
	border-color: var(--font-highlight-trans);
}
.css-1gx4o12 input:checked + label:hover {
	background: var(--font-highlight);
	border-color: var(--font-highlight-trans);
}
.css-72lnkn-button {
	background: var(--font-highlight-trans);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.css-72lnkn-button:hover {
	background: var(--font-highlight);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* Alerting */
.css-v5rl73:nth-child(2n+1) {
	background-color: var(--base);
}
.css-v5rl73:nth-child(2n) {
	background-color: var(--darker);
}
.css-xg17q:hover {
	background-color: var(--base);
}
.css-14xlet9:nth-child(2n+1) {
	background-color: var(--base);
}
.css-14xlet9:nth-child(2n) {
	background-color: var(--darker);
}
.css-yamu2o {
	background-color: var(--darker);
}
.css-12cybrm {
	background-color: var(--base);
}
.css-l82s2j {
	background-color: var(--darkest);
}
.css-1wykv9c {
	background-color: var(--base);
}
.css-uq8kg1 {
	background-color: var(--darker);
}
.css-9nnqt5:nth-child(2n+1) {
	background-color: var(--base);
}
.css-9nnqt5:nth-child(2n) {
	background-color: var(--darkest);
}
.css-14m1btq:nth-child(2n+1) {
	background-color: var(--base);
}
.css-14m1btq:nth-child(2n) {
	background-color: var(--darker);
}
.css-rlpi55 {
	background-color: var(--font-base-trans);
    border: 1px solid var(--font-accent);
}
.css-11r80di {
	border-radius: 2px;
	background-color: var(--font-base-trans);
    border: 1px solid var(--font-accent);
	color: white;
}
.css-rwsqhs {
	background-color: var(--font-danger-trans);
	border: 1px solid var(--font-danger);
	color: rgb(255, 255, 255);
}
.css-18t4osq {
	background-color: var(--font-danger-trans);
	border: 1px solid var(--font-danger);
	color: rgb(255, 255, 255);
}
.css-1ng0k9x {
	background-color: var(--font-warning-trans);
	border: 1px solid var(--font-warning);
	color: rgb(255, 255, 255);
}
.css-by4xky {
	background-color: var(--font-warning-trans);
	border: 1px solid var(--font-warning);
	color: rgb(255, 255, 255);
}
